
.Signup {
  text-align: center;
  background-color: rgba(188, 207, 223, 0.616);
}
.log {
  text-align: center;
  padding-left: 90%;
  background-color: aqua;
}

.App {
  text-align: center;
  background-color: blueviolet;
}
h2.design {
  margin-left:10%;
  text-align: left;
}
h2 {
  padding: 10px;
  text-align: center;
  background-color: #09d3ac;
}
.fill {
  text-align: align;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #2f4050;
}
.sidebarlist {
  height:auto;
  padding: 0;
  width:100%;
  
}
.sidebarlist.row {
   width:100%;
   height: 60px;
   list-style-type: none;
   margin: 0;
   display: flex;
   flex-direction: row;
   color: white;
   justify-content: center;
   align-items: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebarlist  .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.sidebarlist #active {
   background-color: #293846;
}
.row #icon {
  flex:30%;
  display: grid;
  place-items:center;
}
.row #title{
  flex: 70%;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin:auto;
  height: 100%;
  background-color: aqua;
}

.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin:auto;
  height: 100%;
  background-color: #09d3ac;
}